<app-loading-overlay [isActive]="loading"></app-loading-overlay>
<div class="flex flex-col w-full" *ngIf="ticket$ | async as ticket">
    <!-- Header -->
    <div class="relative w-full h-40 sm:h-48 px-8 sm:px-12 bg-accent-100 dark:bg-accent-700">
        <!-- Close button -->
        <div class="flex items-center justify-end w-full max-w-3xl mx-auto pt-6">
            <button mat-icon-button [matTooltip]="'Close'" (click)="closeDrawer()">
                <mat-icon class="text-primary" [svgIcon]="'heroicons_outline:x'"></mat-icon>
            </button>
        </div>
    </div>

    <!-- Ticket -->
    <div class="relative flex flex-col flex-auto items-center p-6 pt-0 sm:p-12 sm:pt-0">
        <div class="w-full max-w-3xl">
            <!-- Avatar and actions -->
            <div class="flex flex-auto items-end -mt-16">
                <div
                    class="flex items-center justify-center w-32 h-32 rounded-full overflow-hidden ring-4 ring-bg-card">
                    <div
                        class="flex items-center justify-center w-full h-full rounded overflow-hidden uppercase text-8xl font-bold leading-none bg-gray-200 text-gray-600 dark:bg-gray-700 dark:text-gray-200">
                        {{ ticket.subject.charAt(0) }}
                    </div>
                </div>
                <!-- Actions -->
                <div class="flex items-center ml-auto mb-1">
                    <button *ngIf="ticket.ticketState !== 'qat'" mat-stroked-button (click)="updateStatus(ticket, nextState.key)">
                        <mat-icon class="icon-size-5" [color]="'primary'" [svgIcon]="'mat_outline:double_arrow'"></mat-icon>
                        <span class="ml-2">Pasar a {{ nextTicketState(ticket.ticketState) }}</span>
                    </button>
                    <button *ngIf="ticket.ticketState === 'qat'" class="ml-4" mat-flat-button [color]="'primary'">
                        <mat-icon [svgIcon]="'mat_outline:check_circle_outline'"></mat-icon>
                        <span class="ml-2 mr-1">Resolver ticket</span>
                    </button>
                </div>
            </div>

            <!-- Name -->
            <div class="mt-3 text-xl font-bold truncate">
                {{ ticket.subject }}
            </div>
            <div class="mt-3 text-md font-bold truncate">
                Estado actual: <span class="font-medium">{{ currentState(ticket.ticketState) }}</span>
            </div>
            <div class="mt-3 text-md font-bold truncate">
                ID del ticket: <span class="font-medium">{{ ticket.uid }}</span>
            </div>
            <div class="mt-3 text-md font-bold truncate">
                Categoría: <span class="font-medium">{{ ticket.category.name }}</span>
            </div>


            <div class="flex flex-col mt-4 pt-6 border-t space-y-8">
                <ng-container>
                    <div class="flex sm:items-center">
                        <mat-icon svgIcon="heroicons_outline:office-building"></mat-icon>
                        <div class="flex flex-col ml-2.5">
                            <span class="font-medium">Departamento solicitado: </span>
                            <div class="leading-6">{{ ticket.department.name }}</div>
                        </div>
                    </div>
                </ng-container>

                <ng-container>
                    <div class="flex sm:items-center">
                        <mat-icon svgIcon="mat_outline:sticky_note_2"></mat-icon>
                        <div class="flex flex-col ml-2.5">
                            <span class="font-medium">Descripción: </span>
                            <div class="leading-6">{{ ticket.description }}</div>
                        </div>
                    </div>
                </ng-container>

                <ng-container>
                    <div class="flex sm:items-center">
                        <mat-icon svgIcon="mat_outline:star_half"></mat-icon>
                        <div class="flex flex-col ml-2.5">
                            <span class="font-medium">Prioridad: </span>
                            <div class="leading-6">{{ ticket.priority.name }}</div>
                            <app-stars [count]="3" [value]="ticket.priority.value"></app-stars>
                        </div>
                    </div>
                </ng-container>

                <ng-container>
                    <div class="flex sm:items-center">
                        <mat-icon svgIcon="heroicons_outline:user-circle"></mat-icon>
                        <div class="flex flex-col ml-2.5">
                            <span class="font-medium">Cliente emisor: </span>
                            <div class="leading-6">{{ ticket.customer.displayName }}</div>
                        </div>
                    </div>
                </ng-container>

                <ng-container>
                    <div class="flex sm:items-center">
                        <mat-icon svgIcon="heroicons_outline:user-circle"></mat-icon>
                        <div class="flex flex-col ml-2.5">
                            <span class="font-medium">Departamento emisor: </span>
                            <div class="leading-6">{{ ticket.customer.department }}</div>
                        </div>
                    </div>
                </ng-container>

                <ng-container>
                    <div class="flex sm:items-center">
                        <mat-icon svgIcon="heroicons_outline:user-circle"></mat-icon>
                        <div class="flex flex-col ml-2.5">
                            <span class="font-medium">Email del cliente: </span>
                            <div class="leading-6">{{ ticket.customer.email }}</div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>
