<div class="w-full">
    <app-title-header [titleHeader]="titleHeader"></app-title-header>
    <div class="flex flex-auto justify-center p-5">
        <div class="sm:w-full md:w-1/2">
            <mat-card>
                <mat-card-title class="text-center">
                    Agregar usuarios
                </mat-card-title>

                <form [formGroup]="form">
                    <mat-form-field appearance="outline">
                        <mat-label>Código</mat-label>
                        <input formControlName="codigo" matInput type="text" />
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Nombre completo</mat-label>
                        <input formControlName="nombre" matInput type="text" />
                    </mat-form-field>

                    <mat-card-actions class="flex flex-row justify-end">
                        <button
                            class="py-2 px-8 rounded text-lg"
                            mat-stroked-button
                            color="primary"
                            routerLink=".."
                        >
                            Cancelar
                        </button>
                        <button
                            class="py-2 px-8 rounded text-lg"
                            mat-raised-button
                            color="primary"
                            (click)="save()"
                        >
                            Guardar
                        </button>
                    </mat-card-actions>
                </form>
            </mat-card>
        </div>
    </div>
</div>
